@model IEnumerable<MvcProject.Models.Seazon>

<div style="background-color:#ccc;border:1px solid red;padding:10px;">

    <table class="table">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    <a asp-controller="Seazon" asp-action="Details" asp-route-id="@item.SeazonId">
                    @Html.DisplayFor(modelItem => item.Name)</a>
                </td>
                <td>
                    <a asp-controller="Seazon" asp-action="Edit" asp-route-id="@item.SeazonId">Edit</a> |
                    <a asp-controller="Seazon" asp-action="Delete" asp-route-id="@item.SeazonId">Delete</a>
                </td>
            </tr>
        }
    </table>
  
</div>
