@model MvcProject.Models.Player

@{
    ViewData["Title"] = "Details";
}
<!DOCTYPE html>
<html>
<head>
<title>Player</title>

    <style>ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: white;
          }
          
          li.nav {
            float: left;
          }
          
          li a {
            display: block;
            color: white;
            text-align: left;
            padding: 14px 16px;
            text-decoration: none;
          }
          
          li a:hover {
            background-color: #A9A9A9;
          }
          
          .active {
            background-color: #4CAF50;
          }
          
          body {
            background-color: #696969;
            text-align: left;
            color: white;
          }
          
          ul.ligi {
              list-style-type:none;
              color: #0000FF;
              padding: 10px 20px;
              background-color: white;
              width: 40%;
              display: table;
              margin: 0 auto;
          }
          
          .ligi li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
          }
          
</style>

</head>
<body>
<h1>Player:</h1>

<div>

    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nickname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nickname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Role)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Role)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CountryOfBirth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CountryOfBirth)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PlayerId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>


</body>

</html>